<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hold Your Ground!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/output.css">
    <link rel="icon" type="image/png" href="stylesheets/images/cannon_tab.png">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div id="openPage">
    </div>
    <div class="openBox">
      <div id="openIntro">
        <div id="openTitle">HOLD YOUR GROUND!</div>
        <div class="openButton" id="onePlayer">One Player</div>
        <div class="openButton" id="twoPlayer">Two Player</div>
        <div class="openButton" id="howTo">How To Play</div>
        <div class="openButton" id="rules">Rules</div>
        <div class="openButton" id="about">About</div>
      </div>
      <div id="openOneName">
        <p>
          Enter your name and your country's name, and then hit enter.
        </p>
        <div>Commander:</div>
        <div class="lengthNote">(Max length: 15)</div>
        <input type="text" maxlength="15" id="blueLeader">
        <div>Nation:</div>
        <div class="lengthNote">(Max length: 3)</div>
        <input type="text" maxlength="3" id="blueArmy">
        <div id="submitBlue">Submit</div>
      </div>
      <div id="openTwoName">
        <p>
          Enter your name and your country's name, and then hit enter.
        </p>
        <div>Commander:</div>
        <div class="lengthNote">(Max length: 15)</div>
        <input type="text" maxlength="15" id="redLeader">
        <div>Nation :</div>
        <div class="lengthNote">(Max length: 3)</div>
        <input type="text" maxlength="3" id="redArmy">
        <div id="submitRed">Submit</div>
      </div>
      <div id="openHowTo">
        <div class="explainTitle">
          How To Play
        </div>
        <div class="explainBox">
          <div class="explainSubTitle">
            OVERVIEW
          </div>
          <div class="explainContent">
            "Hold Your Ground!" is a turn-based war game that will test your tactics and strategies. In addition to your oppenent's abilities, you will also be by the battlefield's tough terrain and your own troops' strengths/weaknesses. If this is your first time playing, you are encouraged to read to below instructions and the <b><span id="seeRules1">"<u>Rules</u>"</span></b> page.
          </div>
          <div class="explainSubTitle">
            SETTING PLAYERS
          </div>
          <div class="explainContent">
             Select whether you wish to play against <span style="text-decoration:line-through">the computer ("One Player") or</span> a friend ("Two Player") on the same device.Upon selecting the number of players, each one must enter their character's name (no more than 15 letters) and their army's nationality (no more than three letters). Unsure how to abbreviate your nation's name? Try <a style="color:white;cursor:pointer" href="https://www.worldatlas.com/aatlas/ctycodes.htm">this website</a>. The nation's name will appear in the box containing it's military units.
          </div>
          <div class="explainSubTitle">
            HOW A TURN WORKS
          </div>
          <div class="explainContent">
            The first player (the blue team) will begin their first turn. The name of the current player's army will always be highlighted in yellow. A turn will usually go something like this:
            <ol>
              <li>
                The player clicks a unit in their lists of units. The unit's symbol on the map is then outlined, and it's status (name, direction, etc.) are displayed in the "Selected Unit" box. It's current direction is highlighted by grey and the direction of its next move will be highlighted in yellow. If the unit is not facing a specific direction, then it is said to in a "central" direction.
              </li>
              <li>
                Based on the player's plan, he/she will either move (aka "ATTACK") their unit into a new grid square or stay in (aka "DEFEND") their current one. If ATTACKing, that unit will automatically hold a "central", defensive position in that new grid square. A unit's next direction is selected by clicking the appropriate arrow (or the circle for the "central" direction). If the unit is DEFENDing, then it can defend their location in any direction (north, east, south, west, or central). If attacking, an outline will form around the grid square will the unit will end up. These changes are called a unit's  "order". If a unit is given no new orders, then it will simply defend its current location in its current direction.
              </li>
              <li>
                Now you have "issued" all of your orders to the correct units, but those units still need to actually "carry them out". To do that, simply click the "Carry Out My Orders" button at the bottom. The "Battle Report" box will then display a) the orders that you entered, b) if your units were actually able to carry out those orders, and c) the outcomes of any battles that took place.
              </li>
              <li>
                A battle only takes place if at least one unit from each team are in the same grid square. During a battle, attackers and defenders will attack/counter-attack their opponents multiple times until all of one team's units in the battle defeated. To see all of the factors that help determine which team wins a battle, see the <b><span id="seeRules2">"<u>Rules</u>"</span></b> page. To help understand the events that are happening in the background during a battle, see the <b><span id="seeAbout">"<u>About</u>"</span></b> page.
              </li>
              <li>
                With all of your orders issued and any battles completed, it is now the other players turn. This will be demonstrated by the way that their army's name is now highlighted in yellow.
              </li>
            </ol>
          </div>
        </div>
        <div class="closeButton" id="closeHowTo">
          DONE
        </div>
      </div>
      <div id="openRules">
        <div class="explainTitle">
          Rules
        </div>
        <div class="explainBox">
          test
        </div>
        <div class="closeButton" id="closeRules">
          DONE
        </div>
      </div>
      <div id="openAbout">
        <div class="explainTitle">
          About
        </div>
        <div class="explainBox">
          test
        </div>
        <div class="closeButton" id="closeAbout">
          DONE
        </div>
      </div>
      <div id="openClose">
        Congratulations, <span id="winName"></span>! The <span id="winArmy"></span> army has taken the field and defeated the enemy! VICTORY IS YOURS!
        <div id="finalButtons">
          <div id="reset">RESET</div>
          <!-- <div id="quit">QUIT</div> -->
        </div>
      </div>
    </div>
    <div id="terrain">
      <div id="ground">
        <div class="gridSquare" id="x1y1">
          <div class="topLine" id="x1y1_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x1y1_west"></div>
            <div class="centerMiddle" id="x1y1_center"></div>
            <div class="centerRight" id="x1y1_east"></div>
          </div>
          <div class="bottomLine" id="x1y1_south"></div>
        </div>
        <div class="gridSquare" id="x2y1">
          <div class="topLine" id="x2y1_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x2y1_west"></div>
            <div class="centerMiddle" id="x2y1_center"></div>
            <div class="centerRight" id="x2y1_east"></div>
          </div>
          <div class="bottomLine" id="x2y1_south"></div>
        </div>
        <div class="gridSquare" id="x3y1">
          <div class="topLine" id="x3y1_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x3y1_west"></div>
            <div class="centerMiddle" id="x3y1_center"></div>
            <div class="centerRight" id="x3y1_east"></div>
          </div>
          <div class="bottomLine" id="x3y1_south"></div>
        </div>
        <div class="gridSquare" id="x4y1">
          <div class="topLine" id="x4y1_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x4y1_west"></div>
            <div class="centerMiddle" id="x4y1_center"></div>
            <div class="centerRight" id="x4y1_east"></div>
          </div>
          <div class="bottomLine" id="x4y1_south"></div>
        </div>
        <div class="gridSquare" id="x1y2">
          <div class="topLine" id="x1y2_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x1y2_west"></div>
            <div class="centerMiddle" id="x1y2_center"></div>
            <div class="centerRight" id="x1y2_east"></div>
          </div>
          <div class="bottomLine" id="x1y2_south"></div>
        </div>
        <div class="gridSquare" id="x2y2">
          <div class="topLine" id="x2y2_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x2y2_west"></div>
            <div class="centerMiddle" id="x2y2_center"></div>
            <div class="centerRight" id="x2y2_east"></div>
          </div>
          <div class="bottomLine" id="x2y2_south"></div>
        </div>
        <div class="gridSquare" id="x3y2">
          <div class="topLine" id="x3y2_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x3y2_west"></div>
            <div class="centerMiddle" id="x3y2_center"></div>
            <div class="centerRight" id="x3y2_east"></div>
          </div>
          <div class="bottomLine" id="x3y2_south"></div>
        </div>
        <div class="gridSquare" id="x4y2">
          <div class="topLine" id="x4y2_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x4y2_west"></div>
            <div class="centerMiddle" id="x4y2_center"></div>
            <div class="centerRight" id="x4y2_east"></div>
          </div>
          <div class="bottomLine" id="x4y2_south"></div>
        </div>
        <div class="gridSquare" id="x1y3">
          <div class="topLine" id="x1y3_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x1y3_west"></div>
            <div class="centerMiddle" id="x1y3_center"></div>
            <div class="centerRight" id="x1y3_east"></div>
          </div>
          <div class="bottomLine" id="x1y3_south"></div>
        </div>
        <div class="gridSquare" id="x2y3">
          <div class="topLine" id="x2y3_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x2y3_west"></div>
            <div class="centerMiddle" id="x2y3_center"></div>
            <div class="centerRight" id="x2y3_east"></div>
          </div>
          <div class="bottomLine" id="x2y3_south"></div>
        </div>
        <div class="gridSquare" id="x3y3">
          <div class="topLine" id="x3y3_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x3y3_west"></div>
            <div class="centerMiddle" id="x3y3_center"></div>
            <div class="centerRight" id="x3y3_east"></div>
          </div>
          <div class="bottomLine" id="x3y3_south"></div>
        </div>
        <div class="gridSquare" id="x4y3">
          <div class="topLine" id="x4y3_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x4y3_west"></div>
            <div class="centerMiddle" id="x4y3_center"></div>
            <div class="centerRight" id="x4y3_east"></div>
          </div>
          <div class="bottomLine" id="x4y3_south"></div>
        </div>
        <div class="gridSquare" id="x1y4">
          <div class="topLine" id="x1y4_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x1y4_west"></div>
            <div class="centerMiddle" id="x1y4_center"></div>
            <div class="centerRight" id="x1y4_east"></div>
          </div>
          <div class="bottomLine" id="x1y4_south"></div>
        </div>
        <div class="gridSquare" id="x2y4">
          <div class="topLine" id="x2y4_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x2y4_west"></div>
            <div class="centerMiddle" id="x2y4_center"></div>
            <div class="centerRight" id="x2y4_east"></div>
          </div>
          <div class="bottomLine" id="x2y4_south"></div>
        </div>
        <div class="gridSquare" id="x3y4">
          <div class="topLine" id="x3y4_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x3y4_west"></div>
            <div class="centerMiddle" id="x3y4_center"></div>
            <div class="centerRight" id="x3y4_east"></div>
          </div>
          <div class="bottomLine" id="x3y4_south"></div>
        </div>
        <div class="gridSquare" id="x4y4">
          <div class="topLine" id="x4y4_north"></div>
          <div class="centerLine">
            <div class="centerLeft" id="x4y4_west"></div>
            <div class="centerMiddle" id="x4y4_center"></div>
            <div class="centerRight" id="x4y4_east"></div>
          </div>
          <div class="bottomLine" id="x4y4_south"></div>
        </div>
      </div>
    </div>
    <div id="allOptions">
      <div class="turnBoxes" id="unitAndRep">
        <div class="indivBox">
          <div id="unitBox">
            <div class="title">
              <u>Selected Unit:</u>
            </div>
            <div id="attackDefendBox">
              <div class="attackDefendButton" id="attackButton">
                ATTACK
              </div>
              <div class="attackDefendButton" id="defendButton">
                DEFEND
              </div>
            </div>
            <div id="unitName">
              <i>Name</i>
            </div>
            <div id="healthAndArrowBox">
              <div id="health">
                <div>
                  Health:
                </div>
                <div id="healthReading">
                  --
                </div>
              </div>
              <div id="arrows">
                <div class="arrowBox">

                </div>
                <div class="arrowBox unitButton" id="north">
                  <img src="stylesheets/images/arrow-up.png" alt="N">
                </div>
                <div class="arrowBox">

                </div>
                <div class="arrowBox unitButton" id="west">
                  <img src="stylesheets/images/arrow-left.png" alt="W">
                </div>
                <div class="arrowBox unitButton" id="center">
                  <img src="stylesheets/images/circle.png"alt="Circle">
                </div>
                <div class="arrowBox unitButton" id="east">
                  <img src="stylesheets/images/arrow-right.png" alt="E">
                </div>
                <div class="arrowBox">

                </div>
                <div class="arrowBox unitButton" id="south">
                  <img src="stylesheets/images/arrow-down.png" alt="S">
                </div>
                <div class="arrowBox">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="indivBox" id="repBox">
          <div class="title">
            <u>Battle Report:</u>
          </div>
          <div id="completeReport">
            <div class="battleTitle">** ORDERS **</div>
            <ul id="orderList"></ul>
            <div class="battleTitle">** RESULTS **</div>
            <ul id="resultList"></ul>
            <div class="battleTitle">** BATTLES **</div>
            <ul id="battleList"></ul>
          </div>
        </div>
      </div>
      <div class="turnBoxes" id="teamStats">
        <div class="indivBox">
          <div id="teamOne">
            <div class="title" id="blueTitle">
              <u><span id="blueStatus">Blue</span> Army:</u>
            </div>
            <div class="allUnitColumns">
              <div class="unitColumn">
                <div>IN</div>
                <div class="unitButton blueButton" id="blueIn0"></div>
                <div class="unitButton blueButton" id="blueIn1"></div>
                <div class="unitButton blueButton" id="blueIn2"></div>
                <div class="unitButton blueButton" id="blueIn3"></div>
                <div class="unitButton blueButton" id="blueIn4"></div>
              </div>
              <div class="unitColumn">
                <div>AR</div>
                <div class="unitButton blueButton" id="blueAr0"></div>
                <div class="unitButton blueButton" id="blueAr1"></div>
                <div class="unitButton blueButton" id="blueAr2"></div>
                <div class="unitButton blueButton" id="blueAr3"></div>
                <div class="unitButton blueButton" id="blueAr4"></div>
              </div>
              <div class="unitColumn">
                <div>CAV</div>
                <div class="unitButton blueButton" id="blueCav0"></div>
                <div class="unitButton blueButton" id="blueCav1"></div>
                <div class="unitButton blueButton" id="blueCav2"></div>
                <div class="unitButton blueButton" id="blueCav3"></div>
                <div class="unitButton blueButton" id="blueCav4"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="indivBox">
          <div id="teamTwo">
            <div class="title" id="redTitle">
              <u><span id="redStatus">Red</span> Army:</u>
            </div>
            <div class="allUnitColumns">
              <div class="unitColumn">
                <div>IN</div>
                <div class="unitButton" id="redIn0"></div>
                <div class="unitButton" id="redIn1"></div>
                <div class="unitButton" id="redIn2"></div>
                <div class="unitButton" id="redIn3"></div>
                <div class="unitButton" id="redIn4"></div>
              </div>
              <div class="unitColumn">
                <div>AR</div>
                <div class="unitButton" id="redAr0"></div>
                <div class="unitButton" id="redAr1"></div>
                <div class="unitButton" id="redAr2"></div>
                <div class="unitButton" id="redAr3"></div>
                <div class="unitButton" id="redAr4"></div>
              </div>
              <div class="unitColumn">
                <div>CAV</div>
                <div class="unitButton" id="redCav0"></div>
                <div class="unitButton" id="redCav1"></div>
                <div class="unitButton" id="redCav2"></div>
                <div class="unitButton" id="redCav3"></div>
                <div class="unitButton" id="redCav4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="unitButton" id="ordersButton">
        Carry out my orders
      </div>
    </div>
  </body>
</html>
